In [14]:
import pandas as pd

# Load the dataset
file_path = "E:\\Projects\\project04\\Election_Winner_Predictor\\dataset\\data.xlsx"
data = pd.read_excel(file_path)

# Display the first few rows of the dataset
print(data.head(5))

   count  age     district   voting number             nominater
0      1   90   Kilinochchi              1          Anura Kumara
1      2   44        Matale              3  Ranil Wickremasinghe
2      3   83       Badulla              2      Sajith Premadasa
3      4   60        Jaffna              1          Anura Kumara
4      5   38  Anuradhapura              4                 Other

In [15]:
# Drop the first column (index 0)
data = data.drop(data.columns[0], axis=1)

# Display the first few rows of the dataset
data.head(10)

   age     district   voting number             nominater
0   90   Kilinochchi              1          Anura Kumara
1   44        Matale              3  Ranil Wickremasinghe
2   83       Badulla              2      Sajith Premadasa
3   60        Jaffna              1          Anura Kumara
4   38  Anuradhapura              4                 Other
5   45       Gampaha              2      Sajith Premadasa
6   52      Kalutara              2      Sajith Premadasa
7   79    Kurunegala              2      Sajith Premadasa
8   69   Polonnaruwa              4                 Other
9   42       Gampaha              4                 Other